.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  gap: 1rem;
  padding: 0.4rem 0.3rem 1.2rem;
  width: 47%;
  min-height: 18rem;
  height: fit-content;
}

.bodyContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  padding: 0.2rem 0 0;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--body-font-size-sm);
  width: 100%;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selloReal {
  position: absolute;
  bottom: -1.5rem;
  right: -1.5rem;
  padding: 0;
  margin: 0 !important;
}
.cardTitle {
  font-size: 1.1rem;
  cursor: pointer;

  /* hover effect */
}
.cardTitle:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease-in-out;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 0.5rem;
  z-index: 1;
  padding-bottom: 2rem;
}

.closeModal {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  background-color: #bb5c5c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  align-content: center;
  height: 1.2rem;
  width: 1.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
