.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  gap: 1rem;
  padding: 0.4rem 0.6rem 1.2rem;
  width: 47%;
  min-height: 20rem;
  height: fit-content;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  padding: 0.2rem 0 0;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--body-font-size-sm);
  width: 100%;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selloReal {
  position: absolute;
  bottom: -1.5rem;
  right: -1.5rem;
  padding: 0;
  margin: 0 !important;
}
.cardTitle {
  font-size: var(--body-font-size-sm);
  cursor: pointer;

  /* hover effect */
}
.cardTitle:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .cardContainer {
    width: 30%;
  }

  .cardTitle {
    font-size: var(--body-font-size-md);
  }
}

@media (min-width: 1440px) {
  .cardContainer {
    width: 25%;
    max-width: 350px;
  }
  .cardTitle {
    font-size: var(--body-font-size-lg);
  }
}
