.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0rem 1rem;
  min-height: 100vh;
}

.title {
  font-size: var(--title-font-size-sm);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* tablet */
@media (min-width: 1024px) {
  .main {
    padding: 6rem 1rem;
  }
  .title {
    font-size: var(--title-font-size-md);
  }

  .cardsContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .headerContainer {
    flex-direction: row;
  }
}

/* desktop */

@media (min-width: 1440px) {
  .title {
    font-size: var(--title-font-size-lg);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
