.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0rem 1rem;
  min-height: 100vh;
  position: relative;
}

.mainContainer {
  position: relative;
  max-width: 420px;
}

.title {
  font-size: var(--title-font-size-sm);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* tablet */
@media (min-width: 1024px) {
  .main {
    padding: 6rem 1rem;
  }
  .title {
    font-size: var(--title-font-size-md);
  }

  .cardsContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .headerContainer {
    flex-direction: row;
  }
}

/* desktop */

@media (min-width: 1440px) {
  .title {
    font-size: var(--title-font-size-lg);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes scrollOpen {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}

/* .scroll-container {
  background: url("/scroll-texture.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  animation: scrollOpen 1.5s ease-in-out forwards;
} */

.imageBg {
  z-index: -1;
  position: absolute;
  top: -2rem;
  left: -0.5rem;
  width: 8rem;
}

.flourishContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
