.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.title {
  width: 80%;
  margin-left: auto;
}
