.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 2rem 0 0.5rem;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.imagesContainer img {
  max-width: 170px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.footerInnerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.columnTouns {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
}

.slider {
  display: inline-block;
  animation: scroll 80s linear infinite;
}
.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 5rem;
  border-top: 1px solid var(--color-white);
  padding: 0 1rem;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.socialMedia a {
  color: var(--color-white);
  font-size: var(--body-font-size-sm);
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-47%);
  }
}
.footerInnerContainerDesktop {
  display: none;
}
.columnTounsDesktop {
  display: none;
}

/* Tablet and Smaller Desktop */
@media (min-width: 800px) {
  .footerInnerContainer {
    display: none;
  }

  .columnTouns {
    display: none;
  }

  .slider {
    display: none;
  }
  .media {
    padding: 0 2rem;
  }

  .footerInnerContainerDesktop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 6rem;
  }

  .columnTounsDesktop {
    color: var(--color-white);
    font-size: var(--body-font-size-md);
    display: flex;
    gap: 3rem;
  }
  .footerImgDesktop {
    position: absolute;
    right: 5rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .media {
    height: 3rem;
    flex-direction: row;
  }
  .socialMedia {
    display: flex;
    gap: 2rem;
    flex-direction: row;
  }
}
