.containerCard {
  display: flex;
  height: fit-content;
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  gap: 1.5rem;
  z-index: 1;
}

.descritionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.description {
  font-size: var(--body-font-size-lg);
  text-align: center;
}
